.perfect-blend{
  background-image : url("~/public/images/IMG_20201030_163525_566.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  //-webkit-background-image:url("/images/IMG_20201030_163525_566.jpg");

  margin: 2.5rem 0;
}
