.contact-header{
  width: 100%;
  display: flex;
  flex-direction: row;
  padding: 1rem;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid gray;
  color: gray;
  ul{
    list-style: none;
    display: inline-flex;
    li{
      margin: 0.5rem;
      display: inline-flex;
      //justify-content: space-around;
      align-items: center;
      span{
        font-family: var(--main-font);
        font-weight: bold;
        text-transform: uppercase;
        color: gray;
        font-size: 1.4em;
        user-select: text;
      }
    }
  }
  .social-media{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    a{
      margin-right: 2rem;
      color: #515151;
      font-size: 2.5rem;
      :hover{
        color: var(--secondary-font-color);
        transition: all 0.3s ease-in;
      }
    }
  }
}
