.tasteful-recipes{
  margin-top: 1.5rem;
  //background: url("/images/DSC03853.png") center/cover no-repeat;
}
.between{
  min-height:65vh ;
  display: flex;
  align-items: center;
}
.discover-our-menu{
  margin-top: 1.5rem;
  .restaurant-description{
    padding-top: 3rem;
    margin-bottom: 0;

  }
}
.image-group{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  overflow: hidden;
  grid-gap: 1.5rem;
  img{
    width: 100%;
  }
}
